@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ranchers - Headline Font */
@font-face {
  font-family: 'Ranchers';
  src: url('./assets/fonts/Ranchers-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* Lato Regular - Body Font */
@font-face {
  font-family: 'Lato';
  src: url('./assets/fonts/Lato-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* Lato Bold - Body Font Bold */
@font-face {
  font-family: 'Lato';
  src: url('./assets/fonts/Lato-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
